In [1]:
import numpy as np
import pandas as pd
import os 
import re

In [2]:
snp_data = pd.read_csv('core/core.tab', sep='\t', encoding='utf-8')
snp_data

,CHR,POS,REF,11657_5#1,11657_5#10,11657_5#11,11657_5#12,11657_5#13,11657_5#14,11657_5#15,...,18090_8#29,18090_8#3,18090_8#30,18090_8#33,18090_8#4,18090_8#5,18090_8#6,18090_8#7,18090_8#8,18090_8#84
0,NZ_LR881938.1,58,G,C,G,G,G,G,G,G,...,G,G,C,G,G,G,G,G,G,G
1,NZ_LR881938.1,64,T,C,T,T,T,T,T,T,...,T,T,C,T,T,T,T,T,T,T
2,NZ_LR881938.1,77,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
3,NZ_LR881938.1,79,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
4,NZ_LR881938.1,86,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245138,NZ_LR881938.1,4625084,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245139,NZ_LR881938.1,4625116,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245140,NZ_LR881938.1,4625129,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245141,NZ_LR881938.1,4625132,T,T,T,T,T,T,T,T,...,T,C,T,T,T,T,T,T,T,T
245142,NZ_LR881938.1,4625133,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A

## 检查下载文件是否正确

In [6]:
snp_data.drop(columns=[])

,CHR,POS,REF,11657_5#1,11657_5#10,11657_5#11,11657_5#12,11657_5#13,11657_5#14,11657_5#15,...,18090_8#29,18090_8#3,18090_8#30,18090_8#33,18090_8#4,18090_8#5,18090_8#6,18090_8#7,18090_8#8,18090_8#84
0,NZ_LR881938.1,58,G,C,G,G,G,G,G,G,...,G,G,C,G,G,G,G,G,G,G
1,NZ_LR881938.1,64,T,C,T,T,T,T,T,T,...,T,T,C,T,T,T,T,T,T,T
2,NZ_LR881938.1,77,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
3,NZ_LR881938.1,79,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
4,NZ_LR881938.1,86,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245138,NZ_LR881938.1,4625084,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245139,NZ_LR881938.1,4625116,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245140,NZ_LR881938.1,4625129,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245141,NZ_LR881938.1,4625132,T,T,T,T,T,T,T,T,...,T,C,T,T,T,T,T,T,T,T
245142,NZ_LR881938.1,4625133,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A

In [2]:
fa_list=os.listdir('raw_data')
fa_list[:3]

['11658_4#59.fa', '11679_7#43.fa', '11658_6#87.fa']

In [11]:
URL=pd.read_csv('download_url.csv',sep=',',encoding='utf-8')
URL

,study_accession,sample_accession,analysis_accession,generated_ftp,sample_title
0,PRJEB45963,SAMEA2204233,ERZ3164298,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#2
1,PRJEB45963,SAMEA2204229,ERZ3164300,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_4#1
2,PRJEB45963,SAMEA2204234,ERZ3164301,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_6#1
3,PRJEB45963,SAMEA2204235,ERZ3164303,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#3
4,PRJEB45963,SAMEA2204232,ERZ3164304,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#1
...,...,...,...,...,...
1646,PRJEB45963,SAMEA3531855,ERZ3486717,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_6#61
1647,PRJEB45963,SAMEA3531851,ERZ3486718,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_8#28
1648,PRJEB45963,SAMEA3531869,ERZ3486982,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_6#63
1649,PRJEB45963,SAMEA3531871,ERZ3487000,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3487...,18090_8#33
1650,PRJEB45963,SAMEA3531888,ERZ3487260,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3487...,18090_8#84

In [12]:
t=URL.copy()
t

,study_accession,sample_accession,analysis_accession,generated_ftp,sample_title
0,PRJEB45963,SAMEA2204233,ERZ3164298,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#2
1,PRJEB45963,SAMEA2204229,ERZ3164300,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_4#1
2,PRJEB45963,SAMEA2204234,ERZ3164301,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_6#1
3,PRJEB45963,SAMEA2204235,ERZ3164303,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#3
4,PRJEB45963,SAMEA2204232,ERZ3164304,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#1
...,...,...,...,...,...
1646,PRJEB45963,SAMEA3531855,ERZ3486717,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_6#61
1647,PRJEB45963,SAMEA3531851,ERZ3486718,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_8#28
1648,PRJEB45963,SAMEA3531869,ERZ3486982,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_6#63
1649,PRJEB45963,SAMEA3531871,ERZ3487000,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3487...,18090_8#33
1650,PRJEB45963,SAMEA3531888,ERZ3487260,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3487...,18090_8#84

In [13]:
t['study_accession']='s'
t

,study_accession,sample_accession,analysis_accession,generated_ftp,sample_title
0,s,SAMEA2204233,ERZ3164298,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#2
1,s,SAMEA2204229,ERZ3164300,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_4#1
2,s,SAMEA2204234,ERZ3164301,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_6#1
3,s,SAMEA2204235,ERZ3164303,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#3
4,s,SAMEA2204232,ERZ3164304,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#1
...,...,...,...,...,...
1646,s,SAMEA3531855,ERZ3486717,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_6#61
1647,s,SAMEA3531851,ERZ3486718,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_8#28
1648,s,SAMEA3531869,ERZ3486982,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_6#63
1649,s,SAMEA3531871,ERZ3487000,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3487...,18090_8#33
1650,s,SAMEA3531888,ERZ3487260,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3487...,18090_8#84

In [14]:
URL

,study_accession,sample_accession,analysis_accession,generated_ftp,sample_title
0,PRJEB45963,SAMEA2204233,ERZ3164298,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#2
1,PRJEB45963,SAMEA2204229,ERZ3164300,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_4#1
2,PRJEB45963,SAMEA2204234,ERZ3164301,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_6#1
3,PRJEB45963,SAMEA2204235,ERZ3164303,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#3
4,PRJEB45963,SAMEA2204232,ERZ3164304,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ316/ERZ3164...,11658_5#1
...,...,...,...,...,...
1646,PRJEB45963,SAMEA3531855,ERZ3486717,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_6#61
1647,PRJEB45963,SAMEA3531851,ERZ3486718,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_8#28
1648,PRJEB45963,SAMEA3531869,ERZ3486982,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3486...,18090_6#63
1649,PRJEB45963,SAMEA3531871,ERZ3487000,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3487...,18090_8#33
1650,PRJEB45963,SAMEA3531888,ERZ3487260,ftp.sra.ebi.ac.uk/vol1/sequence/ERZ348/ERZ3487...,18090_8#84

In [4]:
acce2title={URL['sample_accession'][i]:URL['sample_title'][i] for i in range(len(URL))}
acce2title['SAMEA3531871']

'18090_8#33'

In [5]:
# !check file
errs=[]
for f_name in fa_list:
    with open(f'raw_data/{f_name}','r',encoding='utf-8') as f:
        s=re.search(r'SAMEA.*\.',f.readline()).group()
        if acce2title[s[:-1]]!=f_name[:-3]: errs.append(f_name)
            
if len(errs)!=0:
    for e in errs: print(e)
else: print("No errors!")

No errors!

## 将snp序列编码，并缓存

In [6]:
data=pd.read_csv('core/core.tab',sep='\t',encoding='utf-8')
data

,CHR,POS,REF,11657_5#1,11657_5#10,11657_5#11,11657_5#12,11657_5#13,11657_5#14,11657_5#15,...,18090_8#29,18090_8#3,18090_8#30,18090_8#33,18090_8#4,18090_8#5,18090_8#6,18090_8#7,18090_8#8,18090_8#84
0,NZ_LR881938.1,58,G,C,G,G,G,G,G,G,...,G,G,C,G,G,G,G,G,G,G
1,NZ_LR881938.1,64,T,C,T,T,T,T,T,T,...,T,T,C,T,T,T,T,T,T,T
2,NZ_LR881938.1,77,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
3,NZ_LR881938.1,79,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
4,NZ_LR881938.1,86,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245138,NZ_LR881938.1,4625084,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245139,NZ_LR881938.1,4625116,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245140,NZ_LR881938.1,4625129,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245141,NZ_LR881938.1,4625132,T,T,T,T,T,T,T,T,...,T,C,T,T,T,T,T,T,T,T
245142,NZ_LR881938.1,4625133,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A

## 直接进行编码

In [15]:
pos=data['POS'].values
data1=data[data.columns[3:]]
data1

,11657_5#1,11657_5#10,11657_5#11,11657_5#12,11657_5#13,11657_5#14,11657_5#15,11657_5#16,11657_5#17,11657_5#18,...,18090_8#29,18090_8#3,18090_8#30,18090_8#33,18090_8#4,18090_8#5,18090_8#6,18090_8#7,18090_8#8,18090_8#84
0,C,G,G,G,G,G,G,C,G,G,...,G,G,C,G,G,G,G,G,G,G
1,C,T,T,T,T,T,T,C,T,T,...,T,T,C,T,T,T,T,T,T,T
2,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
3,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
4,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245138,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245139,C,C,C,C,C,C,C,C,C,A,...,C,C,C,C,C,C,C,C,C,C
245140,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245141,T,T,T,T,T,T,T,T,T,T,...,T,C,T,T,T,T,T,T,T,T
245142,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A

In [14]:
data1[data1=='A']=2
data1[data1=='T']=2
data1[data1=='C']=2
data1[data1=='G']=3
data1

/home/amax/anaconda3/envs/torchhwk/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/amax/anaconda3/envs/torchhwk/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,11657_5#1,11657_5#10,11657_5#11,11657_5#12,11657_5#13,11657_5#14,11657_5#15,11657_5#16,11657_5#17,11657_5#18,...,18090_8#29,18090_8#3,18090_8#30,18090_8#33,18090_8#4,18090_8#5,18090_8#6,18090_8#7,18090_8#8,18090_8#84
0,C,G,G,G,G,G,G,C,G,G,...,G,G,C,G,G,G,G,G,G,G
1,C,T,T,T,T,T,T,C,T,T,...,T,T,C,T,T,T,T,T,T,T
2,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245138,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245139,C,C,C,C,C,C,C,C,C,A,...,C,C,C,C,C,C,C,C,C,C
245140,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245141,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
245142,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A

In [16]:
data2=data
for name in data2.columns[3:]:
    data2[name][data2[name]==data2['REF']]='N'
data2

/home/amax/anaconda3/envs/torchhwk/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,CHR,POS,REF,11657_5#1,11657_5#10,11657_5#11,11657_5#12,11657_5#13,11657_5#14,11657_5#15,...,18090_8#29,18090_8#3,18090_8#30,18090_8#33,18090_8#4,18090_8#5,18090_8#6,18090_8#7,18090_8#8,18090_8#84
0,NZ_LR881938.1,58,G,C,G,G,G,G,G,G,...,G,G,C,G,G,G,G,G,G,G
1,NZ_LR881938.1,64,T,C,T,T,T,T,T,T,...,T,T,C,T,T,T,T,T,T,T
2,NZ_LR881938.1,77,A,N,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
3,NZ_LR881938.1,79,T,N,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
4,NZ_LR881938.1,86,C,N,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245138,NZ_LR881938.1,4625084,C,N,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245139,NZ_LR881938.1,4625116,C,N,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245140,NZ_LR881938.1,4625129,C,N,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
245141,NZ_LR881938.1,4625132,T,N,T,T,T,T,T,T,...,T,C,T,T,T,T,T,T,T,T
245142,NZ_LR881938.1,4625133,A,N,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A

In [12]:
data2=data2[data2.columns[3:]]
data2[data2=='A']=0
data2[data2=='T']=1
data2[data2=='C']=2
data2[data2=='G']=3
data2[data2=='N']=4

/home/amax/anaconda3/envs/torchhwk/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/amax/anaconda3/envs/torchhwk/lib/python3.6/site-packages/pandas/core/frame.py:3093: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(-key, value, inplace=True)
/home/amax/anaconda3/envs/torchhwk/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/amax/anaconda3/envs/torchhwk/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/amax/anaconda3/envs/torchhwk/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/amax/anaconda3/envs/torchhwk/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
data3=data
seq_base = {}
for name in data3.columns[3:]:
    data3[name] = data3['REF']+data3[name]
    new_keys = data3[name].value_counts().keys()
    for k in new_keys:
        if k not in seq_base: seq_base[k]=len(seq_base)
data3

,CHR,POS,REF,11657_5#1,11657_5#10,11657_5#11,11657_5#12,11657_5#13,11657_5#14,11657_5#15,...,18090_8#29,18090_8#3,18090_8#30,18090_8#33,18090_8#4,18090_8#5,18090_8#6,18090_8#7,18090_8#8,18090_8#84
0,NZ_LR881938.1,58,G,GC,GG,GG,GG,GG,GG,GG,...,GG,GG,GC,GG,GG,GG,GG,GG,GG,GG
1,NZ_LR881938.1,64,T,TC,TT,TT,TT,TT,TT,TT,...,TT,TT,TC,TT,TT,TT,TT,TT,TT,TT
2,NZ_LR881938.1,77,A,AN,AA,AA,AA,AA,AA,AA,...,AA,AA,AA,AA,AA,AA,AA,AA,AA,AA
3,NZ_LR881938.1,79,T,TN,TT,TT,TT,TT,TT,TT,...,TT,TT,TT,TT,TT,TT,TT,TT,TT,TT
4,NZ_LR881938.1,86,C,CN,CC,CC,CC,CC,CC,CC,...,CC,CC,CC,CC,CC,CC,CC,CC,CC,CC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245138,NZ_LR881938.1,4625084,C,CN,CC,CC,CC,CC,CC,CC,...,CC,CC,CC,CC,CC,CC,CC,CC,CC,CC
245139,NZ_LR881938.1,4625116,C,CN,CC,CC,CC,CC,CC,CC,...,CC,CC,CC,CC,CC,CC,CC,CC,CC,CC
245140,NZ_LR881938.1,4625129,C,CN,CC,CC,CC,CC,CC,CC,...,CC,CC,CC,CC,CC,CC,CC,CC,CC,CC
245141,NZ_LR881938.1,4625132,T,TN,TT,TT,TT,TT,TT,TT,...,TT,TC,TT,TT,TT,TT,TT,TT,TT,TT
245142,NZ_LR881938.1,4625133,A,AN,AA,AA,AA,AA,AA,AA,...,AA,AA,AA,AA,AA,AA,AA,AA,AA,AA

In [18]:
seq_base

{'GN': 0,
 'CN': 1,
 'AN': 2,
 'TN': 3,
 'CT': 4,
 'GA': 5,
 'TC': 6,
 'AG': 7,
 'GT': 8,
 'CA': 9,
 'TA': 10,
 'AC': 11,
 'AT': 12,
 'TG': 13,
 'GC': 14,
 'CG': 15,
 'GG': 16,
 'CC': 17,
 'AA': 18,
 'TT': 19}