In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data=np.load('/data/HWK/DeepGene/data/E.coli/preprocessed/Label_Encoding/E.coli_raw_Label_Encoding_CIP.npz',allow_pickle=True)
X,Y,POS=data['X'],data['Y'],data['POS']
X.shape,Y.shape,POS.shape

((1650, 245143), (1650,), (245143,))

In [6]:
tmp=np.concatenate([X,Y.reshape(-1,1)],axis=1)
col=list(POS)+['pos']
tmp.shape,len(col)

((1650, 245144), 245144)

In [7]:
inputs=pd.DataFrame(tmp,columns=col)
inputs

,58,64,77,79,86,89,95,96,122,150,...,4625062,4625068,4625071,4625078,4625084,4625116,4625129,4625132,4625133,pos
0,2,2,0,1,2,2,3,1,2,0,...,3,2,3,1,2,2,2,1,0,1
1,3,1,0,1,2,2,3,1,2,0,...,0,2,3,1,2,2,2,1,0,0
2,3,1,0,1,2,2,1,2,2,0,...,0,2,3,1,2,2,2,1,0,1
3,3,1,0,1,2,2,3,1,2,0,...,0,2,3,1,2,2,2,1,0,0
4,3,1,0,1,2,2,1,2,2,0,...,0,2,3,1,2,2,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,3,1,0,1,2,2,3,1,2,0,...,0,2,3,1,2,2,2,1,0,0
1646,3,1,0,1,2,2,3,1,2,0,...,0,2,3,1,2,2,2,1,0,0
1647,3,1,0,1,2,2,3,1,2,0,...,0,2,3,1,2,2,2,1,0,1
1648,3,1,0,1,2,2,3,1,2,0,...,0,2,3,1,2,2,2,1,0,1
1649,3,1,0,1,2,2,3,1,2,0,...,0,2,3,1,2,2,2,1,0,0

In [ ]:
inputs.to_csv('EFS_inputs.csv',sep=',',index=False,encoding='utf-8')